.hljs {
  color: #f8f9fa;
  background: #212529;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f8f9fa8e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #f8f9fa5b;
}

.hljs-comment {
  font-size: 1.2rem;
  color: #f8f9fad7;
  font-weight: bold;
  word-spacing: 3rem;
  margin-left: -4rem;

  user-select: none;
}
.hljs-number {
  color: #f8f9fad9;
}