<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Game Store API</title>
    <style>
        * {
            font-family: sans-serif !important;
        }
        .shadow-stripe {
            box-shadow:
            -20vw 0 0 0 #212529,
            -40vw 0 0 0 #212529,
            20vw 0 0 0 #212529,
            40vw 0 0 0 #212529
            ;
        }
    </style>
</head>

<body class="bg-light">
    <main class="container-md">
        <h1 class="text-center my-4 fs-1 fw-bold">Game Store API</h1>
        <h2 class="col-lg-8 col-xl-6 mx-auto fs-5 my-5 text-center">Uma API para <b>simular interações com o banco de dados</b> de uma loja fictícia de jogos</h2>

        <div class="row d-flex align-items-center py-4 p-md-5 bg-dark text-light shadow-stripe">
            <div class="col-xl-7 mx-auto">
                <h5>Mantendo o projeto simples</h5><hr class="w-25 my-4">
                <p>Não é necessário a utilização de headers para o consumo da API, é possível realizar todas as <b>requisições HTTP</b> disponíveis através de parâmetros passados na URL. (Há suporte para todas operações CRUD)</p>
            </div>
            <div class="col-10 col-md-6 col-xl-4 mx-auto mt-4 text-light">
                <h5 class="text-center fw-bold opacity-75">ESTRUTURA DE DADOS</h5>
                <table class="table table-dark table-bordered">
                    <tbody>
                        <tr>
                            <td scope="col" class="text-end">ID</td>
                            <td class="text-muted">1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-end">NAME</td>
                            <td class="text-muted">GTA</td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-end">PRICE</td>
                            <td class="text-muted">30</td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-end">CATEGORY</td>
                            <td class="text-muted">Ação-Aventura</td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-end">COMPANY</td>
                            <td class="text-muted">Rockstar Games</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>